@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&family=Inter:wght@200&family=Manrope&display=swap');
*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }

  a:focus,
  .btn:focus,
  input:focus,
  select:focus,
  textarea:focus {
    text-decoration: none;
    text-shadow: none;
    outline: none;
  }

.header-main{
    height: 822px;
    background: #234147;
}
.headers {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 1080px;
    padding: 25px 0px;
    margin: 0 auto;
}
.logo {
    width: 166px;
    height: 49px;
    margin-right: 80px;
}

.nav {
    display: flex;
    list-style: none;
}

.nav li {
    margin: 0 0px;
}
.nav a {
    font-weight: 600;
    font-size: 16px;
    color:  #95A19A;
    font-family: 'Manrope';
    margin: 0 10px;
    text-decoration: none;
}
.nav a:hover {
    color: #fff;
}
.btn {
    width: 222px;
    height: 60px;
    font-family:'Azeret Mono';
    border: 1px solid #95A19A;
    padding: 20px 45px;
    border-radius: 5px;
    color: #B8CA28;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}
.btn:hover{
    transition:  0.3s;
    background: #B8CA28;
    color: #284c54;
}
.toggle {
    display: none;
}
.nav-button{
    display: none;
}
.banner{
    margin: 0 auto;
    width: 1080px;
    display: flex;
}
.banner-details{
    width: 572px;
    margin-top: 120px;
}
.banner-details h1{
    color:  #F2F4F4;
    font-family: 'Manrope';
    font-size: 64px;
    font-weight: 600;
    line-height: 71px; 
    letter-spacing: 1.28px;
    text-transform: uppercase;
}
.banner-details p{
    color:  #CECCC4;
    font-family: 'Azeret Mono';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px; 
    margin-top: 24px;
    letter-spacing: 0.8px;
}
.banner-details button{
    width: 515px;
    height: 80px;
    margin-top: 24px;
    padding: 16px 28px;
    border: none;
    background-color: #B8CA28;;
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-btn samp{
    color: #234147;
    font-family: 'Azeret Mono';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
} 
.banner-btn img{
   margin-left: 20px;
}
.banner-img{
    background-image: url('/img/logo/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 485px;
}
.banner-img img{
    width: 485px;
    height: 703px; 
    margin-top: 20px;
    flex-shrink: 0;
}
/* -----------------------banner end ----------------------------------------- */
.accounting{
   width: 100%;
    height: 199px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#95A19A;;
}
.tax-liability{
    width: 963px;
    margin: 0 auto;
    height: 100%;
}
.tax-heading{
    display: flex;
    height: 160px;
    width: 100%;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.tax-heading p{
    color: #234147;
    font-family: 'Azeret Mono';
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}
.tax-line{
    width: 814px;
    border: 1px solid #234147;
}
.tax-title h1{
    width: 700px;
    color: #234147;
    font-family: 'Manrope';
    font-size: 56px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 68px; 
}
.card-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 480px;
    height: 538px;
    padding: 60px;
}
.card-img1{
    background-image: url('/img/logo/stucture.png');
    width: 195px;
    height: 175px;
}
.card-img2{
    background-image: url('/img/logo/texPlanning.png');
    background-repeat: no-repeat;
    width: 195px;
    height: 175px;
}
.card-img3{
    background-image: url('/img/logo/cfo.png');
    background-repeat: no-repeat;
    width: 195px;
    height: 175px;
}
.card-img4{
    background-image: url('/img/logo/services.png');
    width: 215px;
    height: 175px;
}
.card h1{
    color: #234147;
    font-family: 'Manrope';
    font-size: 38px;
    font-weight: 600;
    margin-top: 29px;
    line-height: 49px; 
}
.card p{
    color: #234147;
    font-family: 'Azeret Mono';
    font-size: 14px;
    margin-top: 33px;
    font-weight: 300;
    line-height: 20px; 
}
.liability-btn{
    width: 100%;
    height: 80px;
    border: none;
    background: #B8CA28;
}
/* -----------------------------------------tax-liability end --------------------------------------- */
.remote-finance-main{
    margin-top: 350px;
    width: 100%;
    background: #CECCC4;
    height: 100%;
    padding: 50px 0px;
    position: relative;
    z-index: -1;
}
.remote-finance-main .remote-img{
    position: absolute;
    margin-top: -250px;
    right: 0;
}
.remote-finance{
    width: 963px;
    margin:  0 auto;
}
.remote-text-line{
    width: 445px;
    height: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.remote-text-line p{
    color:  #234147;
    font-family: 'Azeret Mono';
    font-size: 16px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}
.remote-line{
    width: 250px;
    border: 1px solid #95a19aa1

}
.remote-finance-title{
    width: 863px;
    gap: 30px;
    display: flex;
}
.remote-finance-title h1{
    width: 405px;
    height: 380px;
    color: #234147;
    font-family: 'Manrope';
    font-size: 56px;
    font-weight: 600;
    line-height: 68px; 
}
.remote-finance-title img{
    margin-top: -50px;
    width: 360px;
    height: 375px;
}
.remote-item-contain{
    display: flex;
    gap: 100px;
    margin-bottom: 80px;
}
.item-heading{
    display: flex;
    justify-content: start;
    align-items: center;
}
.item-border{
    width: 20px;
    height: 20px;
    padding: 5px;
    margin-right: -15px;
    border-left: 1px solid #95A19A;
    border-bottom: 1px solid #95A19A;
}
.item-heading p{
    color: rgba(35, 65, 71, 0.60);
    font-family: 'Azeret Mono';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}
.item-right-text{
    color: #FF6521 !important;
}
.item li{
    list-style-type: none;
    color: #234147;
    font-family: 'Azeret Mono';
    font-size: 18px;
    margin-left: 20px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: 0.36px;
    text-decoration-line: strikethrough;
    text-transform: uppercase;
}
.items li{
    color: #234147;
    font-family: 'Azeret Mono';
    font-size: 18px;
    font-weight: 300;
    line-height: 49px;
    letter-spacing: 0.36px;
    margin-left: 20px;
    border-bottom: 1px solid #95A19A;
    text-transform: uppercase;
}
.items li:last-child{
    border-bottom: none;
}
/* -----------------------------------------------------------remote-finance end --------------------------------------- */
.main_meet{
    width: 964px;
    margin: 0 auto;
}
.main_meet h1{
    color:  #234147;
    font-family: 'Manrope';
    font-size: 56px;
    font-weight: 600;
    line-height: 68px;
}
.main_meet button{
    margin: 90px 0px;
}
.grid_container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
.grid_container  .grid_item {
    margin-top: 160px;
    width: 310px;
    height: 363px;
    background:#F2F4F4;
  }
  .grid_container .grid_item .grid_item_img img{
    position: absolute;
    width: 161px;
    height: 161px;
    border-radius: 50%;
    margin-left: 35px;
    margin-top: -76px;
  }
  .grid_item_name{
    width: 248px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    margin: 100px 0 0 30px;
  }
  .grid_item_name h2{
   color:#234147;
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   
  }
  .grid_item p{
   padding-top: 7px;
    width: 248px;
    margin: 0 auto;
    text-align: start;
    color:#234147;
    font-family: 'Azeret Mono';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px; 
    letter-spacing: 0.14px;
  }

  .grid_item2{
    margin-top: 200px !important;
  }
  .grid_item3{
    margin-top: 240px !important;
  }
  .grid_item4{
    margin-top: 50px !important;
  }
  .grid_item5{
    margin-top: 90px !important;
  }
  .grid_item6{
    margin-top: 130px !important;
  }


/* --------------------meet  end --------------------------------------- */


.Testimonial-main{
    width: 100%;
    height: 1185px;
    background:#CECCC4;
}
.testimonial-contain{
    width: 963px;
    margin: 0 auto; 
}
.testimonial-contain h1{
    color:  #234147;
    font-family: 'Manrope';
    font-size: 56px;
    font-weight: 600;
    line-height: 68px; 
}
.arro-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 650px;
    position: relative;
}
.arro-btn button{
    border: none;
    background: transparent;
}
.slider-container {
    margin: 0 auto;
    width: 800px;
    margin-top: -590px;
    text-align: center;
    position: relative;
}

.slider {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}
.slide {
    flex: 0 0 100%;
    position: relative;
    animation: myfirst 0.3s 1;
}
@keyframes myfirst {
    0%  { left: 0px; top: 200px;}
    100% { left: 0px; top: 0px;}
  }
.circles {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.circle {
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 0 5px;
    cursor: pointer;
}
.arro-btn2{
    display: none;
 }
.circle.active {
    background-color: #9d9d9d;
    rotate: 30deg;
}
.slider-card{
    background-image: url(/img/Testimonial\ BG.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 900px;
    margin:0 auto;
    height: 600px;
}
.cercle-img{
    background-image: url(/img/logo/cercle.png);
    background-repeat: no-repeat;
    width: 690px;
    height: 690px;
}
.img-bg{
    margin-left: 100px;
    position:relative;
}
.img-bg img{
    width: 320px;
    height: 320px;
}
.img-card{
    margin: -260px 0px 0px 300px;
    position: absolute;
}
.img-card img{
    width: 169px;
    height: 169px;
    border-radius: 50%;
}
.img-card h2{
    color:  #F2F4F4;
    font-family: 'Manrope';
    font-size: 32px;
    font-weight: 600;
    line-height: 68px; 
}
.img-card .stsr{
   background-image: url('/img/logo/5\ star\ rating.png');
   background-repeat: no-repeat;
   width: 131px;
   height: 20px;
   margin: 0 auto;  
}
.cercle-img article{
    margin-top: 50px;
    margin-left: 30px;
    width: 724px;
    color: #FFF;
    text-align: center;
    font-family: 'Azeret Mono';
    font-size: 16px;
    font-weight: 300;
    line-height: 23px; 
}
/* -----------------------------------------------Testimonial end --------------------------------------- */
.book-main{
    width: 100%;
    background-color: #284c54;
    height: 600px;
}
.book{
    width: 1032px;
    margin: 0 auto;
}
.books{
    display: flex;
}
.book-img img{
    margin-top: -130px;
}
.book-title{
    margin-top: 100px;
    width: 433px;
    height: 150px;
}
.book-title h1{
    color:  #F2F4F4;
    font-family: 'Manrope';
    font-size: 44px;
    font-weight: 600;
    line-height: 50px; 
}
.book-title h1 span{
    color: #B8CA28;
}
.book p{
    text-align: center;
    margin-top: 33px;
    color:  #95A19A;
    font-family: 'Azeret Mono';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    text-decoration-line: underline;
}
/* -----------------------------------------book end--------------- */
.abouteUs-main{
    width: 1902px;
    margin: 0 auto;
    overflow: hidden;
    height: 985px;
    background:#234147;
}
.aboute-title{
    margin: 0px auto;
    width: 1180px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-hading p{
    color: #E93235;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.28px;
    text-transform: uppercase;
}
.title-hading h1{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px; 
    letter-spacing: -0.8px;
}
.arror_btn{
    display: flex;
    gap: 30px;
}
.wrapper {
    width: 100%;
  }
  .arror_btn i{
    color: #fff;
    height: 40px;
    width: 40px;
    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:hover{
    color: red;
    border: 1px solid red;
    transform: translateY(-50%) scale(0.85);
  }
  .aboute-btn{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboute-btn button{
    width: 411px;
    border: none;
    height: 62px;
    color: #F8F8F8;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    background: #E93235;
  }
  .aboute-btn button:hover{
    box-shadow: 0px 26px 24px 20px rgba(0,0,0,0.1),0px 12px 17px -5px #E93235;
  }
  .main_carousel {
      position: relative;
      left: 20%;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
 

  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    width: 564px;
    height: 400px;
    list-style: none;
    background: #F7F4F4;
    box-shadow: 0px 34px 24px -20px rgba(205, 99, 99, 0.15);
    cursor: pointer;
    flex-direction: column;
    padding: 0 69px;
  }

  .card-details h4{
      margin-top: 20px;
      color: #3D3D3D;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px; 
      letter-spacing: -0.64px;
  }
  .item-box-data{
      margin-top: 40px;
      display: flex;
      align-items: center;
      gap: 16px;
  }
  .item-box-name{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      flex-shrink: 0;
      background: #FFF;
      border-radius: 50%;
  }
  .item-box-name h5{
      color: #000;
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: -0.18px;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  .fooder-line{
    border: 1px solid #95A19A;;
  }
  footer{
    width: 100%;
    height: 324px;
    background: #234147;
  }
  .fooder-contain{
    margin: 0 auto;
    width: 600px;
    height: 200px;
    text-align: center;
  }
  .fooder-contain p{
    color:  #95A19A;
    font-family: 'Azeret Mono';
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.18px;
  }